@import "tailwindcss";
@import "./styles/tokens/tokens.core.css";
@import "./styles/tokens/tokens.semantic.css";
@import "./styles/tokens/tokens.themes.css";
@import "./styles/utilities/u-custom-scrollbar.css";
@import "./styles/utilities/u-focus-visible.css";


:root {
    position: relative;
    margin: 5rem;
    background: var(--color-app-background);
    transition: background-color 1s ease, color 1s ease;
}

html {
  scroll-behavior: smooth;
}
