@import "tailwindcss";
@import "./styles/tokens/tokens.core.css";
@import "./styles/tokens/tokens.semantic.css";
@import "./styles/tokens/tokens.themes.css";
@import "./styles/utilities/u-custom-scrollbar.css";
@import "./styles/utilities/u-focus-visible.css";

:root {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: var(--color-app-background);
    transition: background-color 1s ease, color 1s ease;
}

html {
  scroll-behavior: smooth;
}

