/* Hide scollbar */
.u-scrollbar-hide {
  -ms-overflow-style: none;  /* IE / Edge */
  scrollbar-width: none;     /* Firefox */
}

.u-scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome / Safari */
}
